ErrorDocument 400 /erro.php?erro=400
ErrorDocument 401 /erro.php?erro=401
ErrorDocument 402 /erro.php?erro=402
ErrorDocument 403 /erro.php?erro=403
ErrorDocument 404 /erro.php?erro=404
ErrorDocument 405 /erro.php?erro=405
ErrorDocument 406 /erro.php?erro=406
ErrorDocument 407 /erro.php?erro=407
ErrorDocument 408 /erro.php?erro=408
ErrorDocument 409 /erro.php?erro=409
ErrorDocument 410 /erro.php?erro=410
ErrorDocument 411 /erro.php?erro=411
ErrorDocument 412 /erro.php?erro=412
ErrorDocument 413 /erro.php?erro=413
ErrorDocument 414 /erro.php?erro=414
ErrorDocument 415 /erro.php?erro=415
ErrorDocument 416 /erro.php?erro=416
ErrorDocument 417 /erro.php?erro=417
ErrorDocument 500 /erro.php?erro=500
ErrorDocument 501 /erro.php?erro=501
ErrorDocument 502 /erro.php?erro=502
ErrorDocument 503 /erro.php?erro=503
ErrorDocument 504 /erro.php?erro=504
ErrorDocument 505 /erro.php?erro=505